@use 'sass:list';

$colors: (
  'primary': (
    #e9ebf9,
    #d7daf4,
    #b9bfe9,
    #9299d8,
    #737dc0,
    #6a73c4,
    #656dc8,
    #51569f,
    #424782,
    #373b6d,
    #222442
  ),
  'success': (
    #e5f6f2,
    #d1ede7,
    #aee0d3,
    #7acbb5,
    #47b697,
    #26a680,
    #0e7e62,
    #0b654f,
    #095341,
    #074536,
    #042a20
  ),
  'warning': (
    #f6f2eb,
    #ede5d8,
    #dbc7a8,
    #bd9d69,
    #a77e3e,
    #99702b,
    #936623,
    #76521d,
    #614317,
    #513813,
    #31220c
  ),
  'danger': (
    #fbebef,
    #f6d3db,
    #ed9ca9,
    #e2576b,
    #d93347,
    #d12539,
    #c4404f,
    #9c323f,
    #802933,
    #6a222a,
    #401419
  ),
  'info': (
    #f6f6f7,
    #ededee,
    #d8d9db,
    #bcbcc0,
    #9e9fa5,
    #878990,
    #6d6f74,
    #57595e,
    #47484c,
    #3b3c40,
    #242426
  )
);

:root {
  --color-white: #fff;
  --color-black: #000;
  --box-shadow-s: 0 0 0;
  @each $name, $values in $colors {
    @for $i from 1 through list.length($values) {
      $index: ($i - 1) * 100;
      @if $i == 1 {
        $index: 50;
      }
      @if $i == list.length($values) {
        $index: 950;
      }
      --color-#{$name}-#{$index}: #{list.nth($values, $i)};
    }
  }
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: calc(1em + 8px);
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-weight: normal;
}

h6 {
  font-size: 14px;
  font-weight: normal;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  @extend .justify-center;
  @extend .items-center;
}
