@use 'sass:list';

$colors: (
  'primary': (
    #fdf2f8,
    #fce7f3,
    #fccee8,
    #fda5d5,
    #fb64b6,
    #f6339a,
    #e60076,
    #c6005c,
    #a3004c,
    #861043,
    #510424
  ),
  'success': (
    #ecfdf5,
    #d0fae5,
    #a4f4cf,
    #5ee9b5,
    #00d492,
    #00bc7d,
    #009966,
    #007a55,
    #006045,
    #004f3b,
    #002c22
  ),
  'warning': (
    #fffbeb,
    #fef3c6,
    #fee685,
    #ffd230,
    #ffba00,
    #fd9a00,
    #e17100,
    #bb4d00,
    #973c00,
    #7b3306,
    #461901
  ),
  'danger': (
    #fff1f2,
    #ffe4e6,
    #ffccd3,
    #ffa1ad,
    #ff637e,
    #ff2056,
    #ec003f,
    #c70036,
    #a50036,
    #8b0836,
    #4d0218
  ),
  'info': (
    #fafafa,
    #f4f4f5,
    #e4e4e7,
    #d4d4d8,
    #9f9fa9,
    #71717b,
    #52525c,
    #3f3f46,
    #27272a,
    #18181b,
    #09090b
  )
);

:root {
  --color-white: #fff;
  --color-black: #000;
  @each $name, $values in $colors {
    @for $i from 1 through list.length($values) {
      $index: ($i - 1) * 100;
      @if $i == 1 {
        $index: 50;
      }
      @if $i == list.length($values) {
        $index: 950;
      }
      --color-#{$name}-#{$index}: #{list.nth($values, $i)};
    }
  }
}
